@import '../../../common/styles/common/common';

.detail-container {
  min-height: 88vh;
}

.ads-container {
  height: 250px;
  object-fit: cover;
}

.product-image {
  height: 412px !important;
  border-radius: 7px;
}

.product-image-slider {
  height: 104px !important;
  width: 104px !important;
  border-radius: 7px;
  object-fit: cover;
}

.transition-all {
  transition: all 0.3s ease;
}

.slider-button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 7px;
  margin-left: 4px;

  &:last-child {
    margin-left: 0px;
    margin-right: 4px;
  }
}

.product-description {
  background-color: white;
  border-radius: 7px;
}

.text-description {
  text-align: justify;
}
.btn-more {
  border: 1px solid $neutralColorDark_5;
  cursor: pointer;
  border-radius: 7px;
  &:hover {
    background-color: $neutralColorDark_5;
  }
}

.description-truncate {
  display: -webkit-box;
  -webkit-line-clamp: var(--max-lines);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-info {
  background-color: $neutralColorLight_5;
  border-radius: 7px;
}

.category-text {
  color: $neutralColorDark_5;
  border-bottom: 1px dashed $neutralColorDark_5;
}

.btn-link {
  z-index: 9;
  background-color: $neutralColorLight_5 !important;
  height: 35px;
  width: 35px;
  border-radius: 50% !important;
  text-decoration: none !important;
}

.btn-contact {
  background-color: #12a154;
  color: $neutralColorLight_5;
  border-radius: 7px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:last-child {
    background-color: $neutralColorLight_5;
    color: #12a154;
    border: 1px solid #12a154;
  }
}

.sample-chat {
  background-color: #f4f4f4;
  border-radius: 20px;
  cursor: pointer;
  &:hover {
    background-color: $neutralColorDark_5;
  }
}
