$main-color: #1b94ea;

$sub-color: #d3eafb;
$sub-color-2: #ffffff;
$text-gray: #979393;
$primary-darker: #2c306f;
$primary: #74c1df;
$primary-light: rgb(224, 239, 255);
$dark: #000000;
$gray: #6b778c;
$gray-bg: #ededed;
$gray-hover: #c6cbd074;
$gray-row-hover: #ececec74;
$gray-border: #c6cace;
$input-disable: #b9bdbf17;
$light: #ffffff;
$error: #ec3237;
$error-hover: #ff9997;
$success: #48c14e;
$success-hover: #b9f6ca;
$warning: #ffd43b;
$warning-hover: #eaefa2;
$star-color: #fcb91b;
$star-color-hover: #ffcc99;
$link-color: #007bff;
$open-color: #447f60;
$close-color: #f357579c;
$close-soon-color: #6464f0;
$transparency: transparent;

// Dark theme colors
$dark-main-color: #1a6643;
$dark-sub-color: #3d8566;
$dark-sub-color-2: #1c3d31;
$dark-text-gray: #b3b3b3;
$dark-primary-darker: #1e2049;
$dark-primary: #5690a6;
$dark-primary-light: #1c2c3d;
$dark-gray: #4d5666;
$dark-gray-bg: #2c2c2c;
$dark-gray-hover: #3a3e4574;
$dark-gray-row-hover: #2e2e2e74;
$dark-gray-border: #3a3e45;
$dark-input-disable: #4646461a;
$dark-error: #b32629;
$dark-error-hover: #cc7a78;
$dark-success: #36913a;
$dark-success-hover: #8ab38e;
$dark-warning: #cca82e;
$dark-warning-hover: #bbc281;
$dark-star-color: #c99315;
$dark-star-color-hover: #cca37a;
$dark-link-color: #0056b3;
$dark-open-color: #35644c;
$dark-close-color: #c24545;
$dark-close-soon-color: #4f4fc0;

// light theme colors
$primary-color: #615dff;
$light-primary: #ecf2ff;
$primary-color-2: #edeaff;
$primary-color-3: #4570ea;
$secondary-color: #23caff;
$secondary-color-2: #e7f9ff;
$secondary-color-3: #34a1de;
$action-color-success: #31d9b3;
$action-color-warning: #ffae1f;
$action-color-error: #fa896b;
$action-color-info: #539bff;
$action-color-success-light: #e3fdf7;
$action-color-warning-light: #fef5e5;
$action-color-error-light: #fdede8;
$action-color-info-light: #ebf3fe;
$text-primary: #11142d;
$text-secondary: #5a6a85;
$gray-bg-border: #f6f9fc;
$white: #ffffff;
$black: #000000;
$accent: #49beff;
$primary: #5d87ff;
$borderColor: #e5eaef;

:export {
  primaryColor: $primary-color;
  primaryColor2: $primary-color-2;
  primaryColor3: $primary-color-3;
  secondaryColor: $secondary-color;
  secondaryColor2: $secondary-color-2;
  secondaryColor3: $secondary-color-3;
  actionColorSuccess: $action-color-success;
  actionColorWarning: $action-color-warning;
  actionColorError: $action-color-error;
  actionColorInfo: $action-color-info;
  actionColorSuccessLight: $action-color-success-light;
  actionColorWarningLight: $action-color-warning-light;
  actionColorErrorLight: $action-color-error-light;
  actionColorInfoLight: $action-color-info-light;
  textPrimary: $text-primary;
  textSecondary: $text-secondary;
  grayBgBorder: $gray-bg-border;
  white: $white;
  black: $black;

  mainColor: $main-color;
  grayBg: $gray-bg;
  subColor: $sub-color;
  subColor2: $sub-color-2;
  grayRowHover: $gray-row-hover;
  dark: $dark;
  light: $light;
  errorColor: $error;
  warningColor: $warning;
  starColor: $star-color;
  transparency: $transparency;
  darkMainColor: $dark-main-color;
  darkGrayBg: $dark-gray-bg;
  darkSubColor: $dark-sub-color;
  darkSubColor2: $dark-sub-color-2;
  darkGrayRowHover: $dark-gray-row-hover;
  darkErrorColor: $dark-error;
  darkWarningColor: $dark-warning;
  darkStarColor: $dark-star-color;
}
