<div class="card">
  <div class="card-body">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="row justify-content-between">
          <div class="col-lg-4">
            <mat-form-field appearance="outline" class="w-100 hide-hint">
              <input
                matInput
                placeholder="Tìm sản phẩm"
                (keyup)="applyFilter($any($event.target).value)"
              />
              <mat-icon matSuffix>
                <i-tabler name="search" class="icon-20"></i-tabler>
              </mat-icon>
            </mat-form-field>
          </div>
          <div class="col-lg-4 d-flex align-items-center justify-content-end">
            <button mat-flat-button color="primary" (click)="openDialog('Add')">
              Sản phẩm mới
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="table">
            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let product; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Tên sản phẩm</th>
              <td mat-cell *matCellDef="let product">{{ product.name }}</td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Giá</th>
              <td mat-cell *matCellDef="let product">
                {{ product.price | currency : "VND" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Mô tả</th>
              <td mat-cell *matCellDef="let product">
                {{
                  product.description.length > 20
                    ? (product.description | slice : 0 : 20) + "..."
                    : product.description
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef>Ảnh</th>
              <td
                mat-cell
                *matCellDef="let product"
                class="d-flex align-items-center"
              >
                <img
                  class="chatbot-thumbnail"
                  [src]="product.image_urls[0]"
                  alt="Chatbot thumbnail"
                />
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Thao tác</th>
              <td mat-cell *matCellDef="let product">
                <button mat-icon-button color="primary">
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="warn"
                  (click)="openDialog('Delete', product)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
