@import '../../common/styles/common/common';

.card-product {
  height: 298px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  border: 2px solid transparent;
  line-height: 1 !important;

  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: $highlightColor_1;
  }
}

.card-img-top {
  height: 188px;
  object-fit: cover;
  width: 100%;
}

.btn-link {
}

.price-text {
  color: $highlightColor_1;
  font-weight: bold !important;
}

.category-text {
  color: $neutralColorDark_5;
}

.time-district-text {
  color: $neutralColorDark_5;
}

.state-badge {
  background-color: $warningColor_1;
}
