<div class="blank-layout-container justify-content-center align-items-center">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            @if(options.theme === 'light') {
            <a [routerLink]="['/dashboards/dashboard1']">
              <img
                src="./assets/images/logo.png"
                class="align-middle m-2"
                alt="logo"
              />
            </a>
            } @if(options.theme === 'dark') {
            <a [routerLink]="['/dashboards/dashboard1']">
              <img
                src="./assets/images/logo.png"
                class="align-middle m-2"
                alt="logo"
              />
            </a>
            }
          </div>
          <span class="f-s-14 d-block mat-body-1 text-center m-t-30"
            >We sent a verification code to your email. Click to a link that we
            send to your email below.</span
          >
          <span class="f-w-600 d-block m-t-16 text-center">{{ email }}</span>

          <span class="d-block f-w-500 d-block f-s-14 m-t-24 text-center"
            >Didn't get the email?
            <button
              mat-flat-button
              color="primary"
              (click)="resendEmail()"
              [disabled]="isResendDisabled"
              class="m-l-12"
            >
              Resend Email
              {{ isResendDisabled ? "(" + remainingTime + "s)" : "" }}
            </button>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
