.heading-h1 {
  font-size: 48px !important;
  font-weight: 800 !important;
}

.heading-h2 {
  font-size: 36px !important;
  font-weight: 800 !important;
}

.heading-h3 {
  font-size: 32px !important;
  font-weight: 800 !important;
}

.heading-h4 {
  font-size: 28px !important;
  font-weight: bold !important;
}

.heading-h5 {
  font-size: 24px !important;
  font-weight: bold !important;
}

.heading-h6 {
  font-size: 20px !important;
  font-weight: bold !important;
}

.body-xl {
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 1.4;
}

.body-l {
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 1.5;
}

.body-m {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 1.5;
}

.body-s {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.5;
}

.body-xs {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 1.4;
}

.action-l {
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 1.5;
}

.action-m {
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 1.5;
}

.action-s {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.5;
}

.caption-m {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 1.4;
}
