.heading-h1 {
  font-size: 48px;
  font-weight: 800;
}

.heading-h2 {
  font-size: 36px;
  font-weight: 800;
}

.heading-h3 {
  font-size: 32px;
  font-weight: 800;
}

.heading-h4 {
  font-size: 28px;
  font-weight: bold;
}

.heading-h5 {
  font-size: 24px;
  font-weight: bold;
}

.heading-h6 {
  font-size: 20px;
  font-weight: bold;
}

.body-xl {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

.body-l {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.body-m {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.body-s {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.body-xs {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
}

.action-l {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.action-m {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}

.action-s {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
}

.caption-m {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
}
