@import '../../../common/styles/common/common';

.banner-btn {
  height: 45px;
  width: 45px;
}

.home-banner {
  background-color: $neutralColorLight_5;
  border-bottom: 1px solid $neutralColorLight_3;
}
