@import '../../../common/styles/common/common';
.more-btn {
  padding: 10px 120px;
  border-radius: 5px;
  background-color: $neutralColorLight_5;
  border: 1px solid $neutralColorDark_5;
  cursor: pointer;

  &:hover {
    background-color: $highlightColor_1;
    border-color: $highlightColor_1;
    color: $neutralColorLight_5;
  }
}

.loading-wrapper {
  min-height: 300px;
}
