<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script src="./chat-widget.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // position: vertical (top hoặc bottom) trước rồi mới tới hozizontal (right hoặc left)
        window.configChatWidget({ position: "bottom-right", color: "green" });
      });
    </script>
  </head>
  <body>
    <div id="okla">Test widget</div>
  </body>
</html>
